################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/RedditVisualizer/bin
/Source/RedditVisualizer/obj
/Source/packages
/Source/RedditVisualizer.v12.suo
